@{
    ViewData["Title"] = "Login";
}

<h1>@ViewData["Title"]</h1>

<style>
    body{
        background-color: #2f4f4f;
        font-family: Arial, sans-serif;
        color: #fff;
    }

    h1 {
        color: #ffc107;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    p {
        font-size: 18px;
        line-height: 1.5;
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
</style>

<div class="text-center">
    <p>If you don't have an account <a href="https://localhost:7246/Home/AboutUs">Sign Up</a> for a new account.</p>
</div>
</br>
<body>
    <form action="/Login/Privacy" method="post" align ="center">
        <p>Please enter your first name and email:</p>
        <input type="text" name="name" placeholder="Name" required>
        <input type="text" name="email" placeholder="example@gmail.com" required>
        <button type="submit">Submit</button>
    </form>
</body>