@model KhumaloCraftEmporium.Models.productTable
@{
    ViewData["Title"] = "MyWork";
}
<h1>@ViewData["Title"]</h1>
<!-- -- tutorialspoint, 2024. CSS - Text. [Online] Available at: https://www.tutorialspoint.com/css/css_text.htm [Accessed 25 March 2024] -- -->
<style>
    body {
        background-color: #2f4f4f;
        font-family: Arial, sans-serif;
        color: #fff;
    }

    h1 {
        color: #ffc107;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    p {
        font-size: 18px;
        line-height: 1.5;
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    .image-container {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;
        flex-wrap: wrap;
    }

        .image-container img {
            width: 350px;
            height: 350px;
            border: 5px solid black;
            border-radius: 10px;
        }
</style>

<div class="image-container">
    <div class="image-item">
        <img src="~/images/Tshirt.jpg" alt="T-Shirt">
        <p>T-shirt (All sizes): R55</p>
    </div>

    <div class="image-item">
        <img src="~/images/Candles.jpg" alt="Candles">
        <p>Candles: R45</p>
    </div>

    <div class="image-item">
        <img src="~/images/WireCar.jpg" alt="WireCar">
        <p>Wired Car : R150</p>
    </div>

    <div class="image-item">
        <img src="~/images/HandCraftedBaskets.jpg" alt="HandCrafted Baskests">
        <p>Handcrafted Baskets: R150</p>
    </div>

    <div class="image-item">
        <img src="~/images/Ceramics.jpg" alt="Ceramics">
        <p>Ceramics: R100</p>
    </div>

    <div class="image-item">
        <img src="~/images/Pants.jpg" alt="Pants">
        <p>Pants: R100</p>
    </div>
</div>

<body>
    <form action="/Product/MyWork" method="post" align ="center">
        <p>Insert new products</p>
        <input type="text" name="Name" placeholder="Name" required>
        <input type="text" name="Price" placeholder="Price" required>
        <input type="text" name="Category" placeholder="Category" required>
        <input type="text" name="Availability" placeholder="Availability" required>
        <button type="submit">Submit</button>
    </form>
</body>